@charset "utf-8";
:root{
    --color1: aliceblue;
    --color2: #CEEDF3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.wrapper{
    width: 300px;
    height: 500px;
    background-color: var(--color1);
    position: relative;
}

.wrapper .box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--color2);
    font-size: 3em;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%) translateY(-50%) scale(2) rotate(0.5turn) skewX(-10deg);
    transition: 3s;
}

.wrapper:hover .box{

}